/*.subscription-table {
    max-height: 500px;
    width: 100%;
}*/
.widget {
    flex-direction: column;
    height: auto;
    width: 100%;
    max-height: 500px;
}

.widget-header {
    padding: 1em;
    max-height: 1em;
    border-top: 1px solid lightgrey;
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    background-color: white;
}

.widget-header span {
    display: flex;
    color: grey;
    font-weight: bold;
    align-items: center;
    justify-content: flex-start;
}

.widget-body {
    padding: 1em;
    border: 1px solid lightgrey;
    background-color: white;
}

.subscription-table {
    max-height: 500px;
    width: 100%;
    background-color: white;
}

.subscription-table * {
    max-height: 500px;
    width: 100%;
}

.ag-header-container {
    background-color: #A48AD4;
    color: white;
}

.ag-paging-panel {
    padding: 0px;
    border: none !important; 
}

