.subscription-table {
    max-height: 500px;
    width: 100%;
    background-color: white;
}

.subscription-table * {
    max-height: 500px;
    width: 100%;
}

.ag-header-container {
    background-color: #EF6A47;
    color: white;
}

.ag-paging-panel {
    padding: 0px;
    border: none !important; 
}

