html, body, #root, .App {
    height: 100%;
}

.App div {
  height: 100%;
  display: flex;
}

.App .content {
    width: 100%;
    height: 100%;
    background-color: #F6F6F6;
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
}

.App .content p {
    margin: 0;
}
