.widget {
    flex-direction: column;
    height: auto;
    width: 100%;
    max-height: 500px;
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 25px 25px 25px 25px;
    overflow: hidden;
}

.widget-header {
    padding: 1em;
    max-height: 1em;
    background-color:  var(--widget-background);
    overflow: hidden;
}

.widget-header span {
    display: flex;
    color: var(--widget-text);
    font-weight: bold;
    align-items: center;
    justify-content: flex-start;
}

.widget-body {
    display: flex;
    flex-direction: column;
    padding: 1em;
    background-color:  var(--widget-background);
    overflow: hidden;
}

