.widget {
    flex-direction: column;
    height: auto;
    width: 100%;
    max-height: 500px;
}

.widget-header {
    padding: 1em;
    max-height: 1em;
    border-top: 1px solid lightgrey;
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    border-radius: 25px 25px 0px 0px;
    background-color: white;
    overflow: hidden;
}

.widget-header span {
    display: flex;
    color: grey;
    font-weight: bold;
    align-items: center;
    justify-content: flex-start;
}

.widget-body {
    display: flex;
    flex-direction: column;
    padding: 1em;
    border: 1px solid lightgrey;
    border-radius: 0px 0px 25px 25px;
    background-color: white;
    overflow: hidden;
}

