:root {
    --color-primary: #36ad93;
    --color-secondary: #247563;
    --color-selected: #123b32;

    --application-background: white;

    --sidebar-text-light: #ffffff;

    --widget-text: #000000;
    --widget-text-dark: #666666;
    --widget-text-light: #ffffff;
    --widget-background: #ffffff;
}

html, body, #root, .App {
    height: 100%;
}

.App div {
  height: 100%;
  display: flex;
}

.App .content {
    width: 100%;
    height: 100%;
    background-color: var(--application-background);
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
    overflow: hidden;
}

.App .content p {
    margin: 0;
}
